body
{
	background-color: cyan;
	margin: 0;
    padding: 0;
}

#wrapper
{
    background-color: #ffffff80;
    text-align: center;
    margin: 5%;
    padding: 1%;
    border-radius: 10px;
}

#header
{
    text-align: left;
}
